header {
  background: #004084;
  color: #fff; }
  header h3 {
    margin: 10px 0;
    color: #fff;
    font-size: 24px;
    line-height: 24px; }

.user-cta {
  padding: 16px;
  font-size: 14px;
  line-height: 14px; }

.wrap {
  width: 1104px;
  margin: 0 auto; }

.doc-list {
  padding-top: 30px;
  font-size: 14px; }
  .doc-list table {
    margin-top: 0; }
  .doc-list li {
    display: list-item;
    padding: 3px 8px;
    border-radius: 2px; }
  .doc-list .create {
    padding: 3px 8px; }
  .doc-list li:hover a, .doc-list a:hover {
    color: #ff5722; }

.doc {
  padding-top: 30px; }
  .doc a:hover {
    color: #ff5722; }
  .doc input, .doc textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .doc input {
    height: 34px; }
  .doc textarea {
    height: 200px; }

.ds-powered-by {
  display: none; }

.signin, .signup {
  padding-top: 100px;
  margin: 0 auto;
  width: 375px; }
  .signin input:not(:first-child) + label, .signup input:not(:first-child) + label {
    margin-top: 20px; }
  .signin .errorlist, .signup .errorlist {
    list-style: none;
    margin-top: 6px;
    padding-left: 0;
    color: #ba2121; }
  .signin .nonfield, .signup .nonfield {
    padding: 10px 12px;
    border: 1px solid #ba2121;
    border-radius: 4px;
    color: #ba2121;
    font-weight: 700; }
  .signin .form-submit, .signup .form-submit {
    margin-top: 10px;
    text-align: center; }
