{% extends "base.html" %}
{% load staticfiles %}
{% load mixed_filters %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mixed/css/index.css' %}" />
{% endblock %}

def cut(value, arg):
    """Removes all values of arg from the given string"""
    return value.replace(arg, '')

{% block content %}
    <div class="doc">
        <a href="{% url 'list' %}">Document List</a> /
        <a href="{% url 'create' %}">New</a>
        
        <h2>{{ title }}</h2>
        {% if paragraphs %}
            {% for p in paragraphs %}
                <p>{{ p }}</p>
            {% endfor %}
        {% elif server_list %}
            <ol>
                {% for server in server_list %}
                    <li>
                        {{ server|svrinfo|safe }}
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}