{% extends "base.html" %}
{% load staticfiles %}
{% load mixed_filters %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mixed/css/index.css' %}" />
{% endblock %}

def cut(value, arg):
    """Removes all values of arg from the given string"""
    return value.replace(arg, '')

{% block content %}
    <div class="doc panel panel-default">
        <ol class="breadcrumb">
            <li><a href="{% url 'list' %}">Document List</a></li>
            <li><a href="{% url 'create' %}">+</a></li>
        </ol>

        <div class="panel-heading">{{ title }}</div>
        <div class="panel-body">
        {% if paragraphs %}
            {% for p in paragraphs %}
                <p>{{ p }}</p>
            {% endfor %}
        {% elif server_list %}
            <ol>
                {% for server in server_list %}
                    <li>
                        {{ server|svrinfo|safe }}
                    </li>
                {% endfor %}
            </ol>
        {% elif customized %}
            {{ customized|safe }}
        {% endif %}
        </div>
    </div>
    <div class="ds-thread" data-thread-key="{{ slug }}" data-title="{{ title }}" data-url=""></div>
    <script type="text/javascript">
        var duoshuoQuery = { short_name: 'document' };
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
{% endblock %}