{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Document List{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'mixed/css/index.css' %}" />
{% endblock %}

{% block content %}
    <div class="doc-list panel panel-default">
        <div class="panel-heading">Document List</div>

        {% if required %}
        <div class="panel-body">
        <h3 class="error">The document <code>{{ required }}</code> can not be found. Please check the following list.</h3>
        </div>
        {% endif %}

        {% if message %}
        <div class="panel-body">
        <h3>{{ message }}</h3>
        </div>
        {% endif %}

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Documents</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for doc in doc_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'view' doc.slug %}">{{ doc.name }}</a></td>
                <td>
                    <a href="{% url 'view' doc.slug %}">View</a>
                </td>
                <td>
                    <a href="{% url 'edit' doc.slug %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'delete' doc.slug %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            <tr><td colspan="100%"><a class="create" href="{% url 'create' %}">+</a></td></tr>
            </tbody>
        </table>
    </div>
{% endblock %}