{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    <div class="doc panel panel-default">
        <ol class="breadcrumb">
            <li><a href="{% url 'list' %}">Document List</a></li>
        </ol>

        <div class="panel-heading">{{ title }}</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <span>{{ form.instance.name }}</span>
                <label for="firstname" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                {{ form.name }}
                </div>
                <label class="col-sm-2  control-label"></label>
                <div class="col-sm-10">
                {{ form.name.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Context:</label>
                <div class="col-sm-10">
                {{ form.context }}
                </div>
                <label class="col-sm-2  control-label"></label>
                <div class="col-sm-10">
                {{ form.context.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}