{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="container" style="padding-top: 30px;">
        <form action="" method="POST">
            <label for="" class="title">{% trans 'Period' %}</label>
            <div>
                <input type="text" name="m_period" class="form-control" style="width: 90px;" value="{{ m_period }}" />
            </div>
            <label for="m_type" class="title">{% trans 'Mail Type' %}</label>
            <div id="m_type">
                <input type="radio" name="m_type" value="overtime" id="overtime" />
                <label for="overtime">{% trans 'Overtime' %}</label>
                <input type="radio" name="m_type" value="dayoff" id="dayoff" />
                <label for="dayoff">{% trans 'Dayoff' %}</label>
                <input type="radio" name="m_type" value="outwork" id="outwork" />
                <label for="outwork">{% trans 'Outwork' %}</label>
            </div>
            <label for="m_content" class="title">{% trans 'Mail content' %}</label>
            <div>
                <textarea name="m_context" id="" cols="30" rows="10" class="form-control" 
                    style="max-width: 450px; height: 100px;" placeholder="{% trans 'Nullable' %}">{{ m_content }}</textarea>
                <a href="/document/-code/" target="_blanket" style="margin-top: 5px; display: inline-block;">
                    {% trans 'Browse Project Code' %}
                </a>
            </div>

            <label for="" class="title">{% trans 'Apply Date' %}</label>
            <div>
                <input type="text" name="m_date" class="form-control"
                    style="width: 450px;" placeholder="{% trans 'Leave empty to set as today' %}">
            </div>

            <div style="margin-top: 20px;">
                <input type="submit" value="{% trans 'Send' %}" class="btn btn-success" style="width: 90px;" />
                {% if message %}
                <div class="err" style="color: red;">
                    {{ message }}
                </div>
                {% endif %}
            </div>

            <div class="spliter"><h4>{% trans 'Basic Settings' %}</h4></div>

            <label for="" class="title">{% trans 'Receiver' %}</label>
            <div>
                <span>{{ m_receiver }}</span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="" class="title">{% trans 'Sender' %}</label>
                    <div>
                        <input type="text" name="m_sender" class="form-control" style="width: 450px;" value="{{ m_sender }}">
                    </div>

                    <label for="" class="title">{% trans 'Mail Sign' %}</label>
                    <div>
                        <textarea name="m_sign" id="" cols="30" rows="10" class="form-control" 
                            style="width: 720px; max-width: 720px; height: 100px;" placeholder="{% trans 'Nullable' %}">{{ m_sign }}</textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="" class="title">{% trans 'Name' %}</label>
                    <div>
                        <input type="text" name="m_name" class="form-control" style="width: 150px;" value="{{ m_name }}">
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block css %}
<style>
    form {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    #m_type input, #m_type label {
        cursor: pointer;
    }
    #m_type label {
        margin-left: -5px;
        padding-left: 8px;
        padding-right: 10px;
    }
    input[type="radio"]:not(:first-child) {
        margin-left: 15px;
    }
    .title {
        margin-top: 10px;
    }
    .title + div {
        padding-left: 10px;
    }
    .spliter {
        margin: 40px 0 20px 0;
        border-bottom: 1px solid #ccc;
        width: 65%;
    }
    .err {
        margin-top: 5px;
    }
</style>
{% endblock %}
